#
# THIS IS A SAMPLE CONFIGURATION FOR SMS KANNEL
#
# Modified by Donald Jackson based on the original smskannel.conf by
# Kalle Marjola for Kannel project 2001, 2004

#---------------------------------------------
# CORE
#
# There is only one core group and it sets all basic settings
# of the bearerbox (and system). You should take extra notes on
# configuration variables like 'store-file' (or 'store-dir'),
# 'admin-allow-ip' and 'access.log'


group = core
admin-port = <%= @admin_port %>
smsbox-port = <%= @smsbox_port %>
admin-password = bar
log-file = "/tmp/kannel2.log"
log-level = 0
#box-deny-ip = "*.*.*.*"
box-allow-ip = "127.0.0.1"
access-log = "/tmp/access2.log"
store-file = "/tmp/kannel2.store"



#---------------------------------------------
# SMSC CONNECTIONS
#
# SMSC connections are created in bearerbox and they handle SMSC specific
# protocol and message relying. You need these to actually receive and send
# messages to handset, but can use GSM modems as virtual SMSCs


# This is a fake smsc connection, _only_ used to test the system and services.
# It really cannot relay messages to actual handsets!

group = smsc
smsc = http
smsc-id = http2
port = 10002
#connect-allow-ip = *.*.*.*
connect-allow-ip = 192.168.1.60
smsc-username = terragonosaro
smsc-password = terragonosaro
send-url = http://192.168.1.60:20002/
system-type = kannel


#---------------------------------------------
# SMSBOX SETUP
#
# Smsbox(es) do higher-level SMS handling after they have been received from
# SMS centers by bearerbox, or before they are given to bearerbox for delivery

group = smsbox
bearerbox-host = 127.0.0.1
sendsms-port = 23013
global-sender = 23013
log-file = "/tmp/smsbox2.log"
log-level = 0
access-log = "/tmp/access2.log"

#---------------------------------------------
# WAPBOX SETUP
#

group = wapbox
bearerbox-host = 127.0.0.1
#log-file = "/tmp/wapbox.log"
#log-level = 0
syslog-level = none
#access-log = "/tmp/wapaccess.log"

#---------------------------------------------
# SEND-SMS USERS
#
# These users are used when Kannel smsbox sendsms interface is used to
# send PUSH sms messages, i.e. calling URL like
# http://kannel.machine:13013/cgi-bin/sendsms?username=tester&password=foobar...

group = sendsms-user
username = terragonosaro
password = terragonosaro
#user-deny-ip = ""
#user-allow-ip = ""

#---------------------------------------------
# SERVICES
#
# These are 'responses' to sms PULL messages, i.e. messages arriving from
# handsets. The response is based on message content. Only one sms-service is
# applied, using the first one to match.

group = sms-service
keyword = nop
text = "You asked nothing and I did it!"

# There should be always a 'default' service. This service is used when no
# other 'sms-service' is applied.

group = sms-service
keyword = default
get-url = http://localhost:8080/test.php?from=%p&text=%b&udh=%u&to=%P
catch-all = true
max-messages = 0
concatenation = true

